# FILEPATH: /cloudide/workspace/happy_fastapi/.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtualenv
venv/
ENV/

# IDEs
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/

# poetry
poetry.lock

# database
*.db
*.db-journal

# logs
*.log
src/log/*
log/*

# FastAPI
*.env
openapi.json

# Data
data/
migrations/versions/20250305_1818-bc765a1635ce_初始化数据库_包含系统模块相关表.py
