aiocache==0.12.3
asgi_correlation_id==4.3.4
asgiref==3.8.1
cryptography==41.0.7
fast_captcha==0.3.2
fastapi==0.115.8
fastapi_limiter==0.1.6
httpx==0.28.1
itsdangerous==2.1.2
loguru==0.7.2
msgspec==0.18.5
passlib==1.7.4
pydantic==2.10.6
pydantic_settings==2.7.1
pytest==8.3.4
pytest_asyncio==0.25.1
python-dotenv==1.0.1
python_jose==3.3.0
redis==5.0.1
SQLAlchemy==2.0.30
sqlmodel==0.0.22
starlette==0.45.3
typing_extensions==4.12.2
user_agents==2.2.0
uvicorn==0.34.0
XdbSearchIP==1.0.2
